.col-sm-6.col-md-6.col-lg-6
    .panel.panel-primary
        .panel-heading.text-center #{name}
        .panel-body
            .row
                .col-sm-6.col-md-6.col-lg-6(style="border-right: 1px solid #aaa;")
                    p Type : #{model.name}
                    p ID : #{identifier}
                .col-sm-6.col-md-6.col-lg-6
                    a(href="/sensor/edit/#{identifier}") Edit