form.form-horizontal(role='form')
    .form-group
        label.col-sm-2.control-label(for='roomName') Name
        .col-sm-10(data-editors='name')
            //input#roomName.form-control(type='text', placeholder='Room name', data-fields="name", data-editors='name')
    .form-group
      .col-sm-offset-2.col-sm-10
        button#add.btn.btn-default(type='submit') Add
        